/* MarkdownMessage.module.css */

.markdownBody {
  /* Reset geral */
  margin: 0;
  padding: 0;
  line-height: 1.5;

  /* Ajuste para remover espaçamento entre elementos */
  > * {
    margin-bottom: -0.5em; /* Ajuste o valor conforme necessário */
  }
}
