.markdownBody {
  /* Reset geral */
  margin: 0;
  padding: 0;
  line-height: 1.5;

  /* Ajuste para remover espaçamento entre elementos */
  > * {
    margin-bottom: -0.5em; /* Ajuste o valor conforme necessário */
  }
}

/* Estilos para cabeçalhos */
.markdownBody h1,
.markdownBody h2,
.markdownBody h3,
.markdownBody h4,
.markdownBody h5,
.markdownBody h6 {
  margin-top: 0; /* Remove margem superior */
  font-weight: bold; /* Define peso da fonte */
  color: #FFFFFF; /* Define cor do texto */
}

/* Estilos específicos para cada tipo de cabeçalho */
.markdownBody h1 {
  font-size: 1.5em; /* Tamanho reduzido para h1 */
}

.markdownBody h2 {
  font-size: 1.2em; /* Tamanho reduzido para h2 */
}

.markdownBody h3 {
  font-size: 1em; /* Tamanho reduzido para h3 */
}

/* Estilos para listas */
.markdownBody ul,
.markdownBody ol {
  margin: -20px; /* Remove margens padrão */
  padding: 0; /* Remove preenchimento padrão */
  list-style-position: inside; /* Ajusta a posição do marcador */
  padding-left: 3.5em; /* Ajusta preenchimento à esquerda para alinhamento */
}

.markdownBody ul li,
.markdownBody ol li {
  margin: 0; /* Remove margens padrão dos itens da lista */
  line-height: 1.5; /* Ajusta a altura da linha conforme necessário */
  list-style: auto;
}